@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}


.container {
  max-width: 600px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-height: 100vh;
  overflow: hidden;
  top: 0;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgb(245 245 245);
}

.image img {
  width:100%;
}

@media only screen and (max-width: 600px) { 
  .image {
    width: 100px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgb(245 245 245);
  }
}
